.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  font-size: 8px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.button:hover {
  background-color: cadetblue;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3),
    0px 4px 5px 0px rgba(0, 0, 0, 0.3), 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
}
.item {
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  width: 97%;
  height: 50px;
  list-style-type: none;
  padding: 5px;
  transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.item:hover {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.18),
    0px 6px 7px 0px rgba(0, 0, 0, 0.18), 0px 3px 12px 0px rgba(0, 0, 0, 0.18);
}
.item a {
  display: contents;
}
.item img {
  object-fit: cover;
  height: 50px;
  width: 50px;
}
.name {
  display: flex;
  align-items: center;
  max-width: 130px;
  height: 32px;
}
.phone {
  display: flex;
  margin-left: auto;
  align-items: center;
  min-width: 120px;
  height: 32px;
}

.avatar {
  display: block;
  width: 32px;
  height: 32px;
}
